.buildpath
.classpath
.debian_tmp
.tmp
.php_tmp
.DS_Store
.externalToolBuilders
.idea/*
.project
.sass-cache
.settings
.tern-project
.tmp
**/bower_components
*.deb
*.log
**/node_modules
*.swp
composer.phar
composer.lock
dist
vendor/
vendor.js
*.pyc
tmp/
